body{
    background-color: slategray;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 60px;
}

.power {
    max-inline-size: 50px;
    padding-top: 30px;
    padding-right: 100px;
}

table{
    background-color: lightgrey;
}


.mainText {
    text-align: center;
    padding-top: 0;
    padding-left: 200px;
    padding-right: 200px;
    border-style: dashed;
    border-color: black;
    margin-left: 200px;
    margin-right: 200px;
}