.login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
}
.welcome {
    margin-left: 25em;
    margin-top: -401px;
}
.intro {
    margin-left: 50em;
    margin-top: -450px;
}

{
    background-color: slategray;
}